body {
    container-name: body;
    --violet-dark: #9400D3
}


.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    container: blog / inline-size;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 36px;
    background: var(--violet-dark);
    border-radius: 10px;
    margin: 10px;
    max-width: 250px;
}

@container blog (max-width: 780px) {
    article {
        flex-direction: row;
        max-width: 100%;
    }
}

.bg {
    /* The image used */
    background-image: url("https://img.goodfon.com/original/1920x1080/3/16/tsvety-buket-tiulpany-rozovye-fresh-pink-flowers-tulips-sp-1.jpg");

    /* Full height */
    height: 50%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.black {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    height: 100px;
    width: 100px;
}