.card-container {
    width: 80%;
    height: 500px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
}

.cards {
    position: relative;
    left: 0;
    width: 80px;
    padding: 8px;
    height: auto;
    background-color: white;
    transition: .5s all;
    flex: 1;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cards:nth-child(even) {
    background-color: aliceblue;
}

.cards:nth-child(odd) {
    background-color: #706CC1;
}

.cards {
    flex: 1;
    cursor: pointer;
}

.cards:hover {
    flex: 3;
}

img {
    height: 100%;

    overflow: hidden;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}